# ========================
# Maven
# ========================
target/
*.log

# ========================
# IDE - Eclipse
# ========================
.project
.classpath
.settings/
.metadata/

# ========================
# IDE - IntelliJ
# ========================
.idea/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Docker
# ========================
*.tar

# ========================
# Environment
# ========================
.env